################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GoDaddyDotNet/bin/Debug/netcoreapp2.1
/GoDaddyDotNet/obj
/GoDaddyDotNet.IntegrationTests/bin/Debug/netcoreapp2.1
/GoDaddyDotNet.IntegrationTests/obj
/GoDaddyDotNet.IntegrationTests/appsettings.json
/TestClient
